html, body {
    margin: 0;
    padding: 0;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    
}

.container1{
 /* border: 2px solid black; */
display:flex;
justify-content: space-between;
color:darkslategrey;
font-size: 16.6px;
  align-items: center;  
box-shadow: 0 0 10px gray;
position:sticky;
top:0;
z-index:1000 ;

}
.headings{

    display: flex;
    margin-top: 10px;
    height: 40px;
    margin-left: 10px;
    margin-bottom:9px;
    padding-right: 31px;
    /* width: 10px; */
}
.WebsiteName{
  display: block;

    display: flex;
 
    height: 40px;
    margin-left: 10px;
 margin-top:6px;
   
}

.inputs{
    display: flex;
     margin-top: 19px;
   
      height: 45px;
  position: relative;
  
}

.searchLabel{
    position:absolute;
    bottom:14px;
    left: 16px;
   
    
}
#searchBar{
   width:530px;
      border-radius: 20px;
      font-size: larger;
      padding-left: 40px;
    
}




.navigations{
    height: 39px;

display: flex;
margin-top: 19px;
     gap: 14px;  
     margin-right: 18px; 
     padding-top:9px;

     
}

.underNavigations{
    height: 16px;
    display: flex;
    /* border: 2px solid black; */
     gap: 26px; 
     padding-left: 25px;
     height: 50px;
    padding-top:15px;
border-bottom: 2px solid gray;
  /* box-shadow: 0 0 10px gray; */

}
.link{
    /* border: 2px solid black; */
    padding: 5px;
    height: 22px;
 color: darkslategrey;
 font-size: large;
 font-weight: bold;
 border-radius: 16px;
 text-decoration: none;

}

.link:hover{
background-color: rgb(61, 83, 83);
color: white;

cursor: pointer;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.911);
  transition: transform 0.3s ease, box-shadow 0.2s ease;
}   

.signupLink{
     padding: 5px;
    height: 22px;
 background-color: darkslategrey;
 color:white;
 font-size: large;
 font-weight: bold;
 border-radius: 16px;
 text-decoration: none;
}
.signupLink:hover{
    background-color:  rgb(139, 171, 171);
}

.sliderContainer{
    width: 1100px;
overflow: hidden;
  margin-left:200px;
    position: relative;
    /* border:2px solid black; */
}
.images{
 display: flex;
margin-top:66px;
 
transition: transform 0.5s ease-in-out;
margin-left: auto;
margin-right: auto;

}

.sliderImages{
  
   justify-self: stretch;
     width: 1100px;
   height: 440px;
  flex-shrink: 0; 
border-radius: 19px;
height: 500px;


}
.main{
 
    background-color: darkslategrey ;
  height: 640px;

}
.hotelInput{
  
    display: flex;
    flex-direction: column;
    position: absolute;
    top:280px;
    left: 149px;
    color: white;
    font-size: 58px;
    font-weight: bolder;
      z-index: 10; 


}

#hotelSearch{
     border-radius: 20px;
     height: 49px;;
      width:530px;
      border-radius: 20px;
     margin-left: 116px;
      padding-left: 18px;
      margin-top: 16px;
     font-size: 16px;
}

.section2{

  padding-bottom: 90px;

}

.featuresHeading{
  
  margin-left: 557px;
  margin-top: 58px;
  font-size: large;
  font-weight: bold;
  padding-bottom: auto;
  color:teal ;
  text-shadow: 0 0 10px gray,
  0 0 20px darkslategrey;
  
}
.websiteFeatures{
    
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:100px;
    text-align: center;
 
}
.features{
  
    border: 2px solid black;
    padding: 22px;
    margin-top: -50px;
    border-radius: 20px;
    border-color: darkslategrey ;

    border-style:outset;
    box-shadow: 0 0 10px gray,    /* inner glow */
              0 0 20px darkslategrey ,    /* outer glow blue */
              0 0 30px darkslategrey ;    /* bigger outer glow */
}


.topHotelsSection{
  
  background-color: darkslategray;
}
.ContainerofTophotelsSlider{
  overflow: hidden;
   /* border:2px solid black; */

   margin-left:  43px;
 margin-right: 43px;
}
.description{
  margin-top: 48px;
  color: white;
  font-size: larger;
}

.tophotelsimagesWhole{
 
  /* border:2px solid black; */
  display: flex;
  gap:2em;
  margin-top: 24px;
  height: 490px;
  margin-left: 4px;
  margin-bottom: 110px;
padding-left: 20px;
position: relative;
}


#backsliderButton{
  position:absolute;
  z-index: 300;
  width:45px;
  height: 40px;
  position: absolute;
  top:201px;
left: -7px;
  border-radius: 40px;
background-color: white;
border: 2px solid white;
box-shadow: 0 0 10px black, 
0 0 40px gray;
  display: none;
}

#backsliderButton:hover{
  background-color: lightgray;
  border: 4px solid darkgray;
  transition: background-color 0.4s ease;
  cursor: pointer;

}
#nextsliderButton{

  position:absolute;
  z-index: 300;
  width:45px;
  height: 40px;
  position: absolute;
  top:204px;
left: 1370px;

    border-radius: 30px;
background-color: white;
border: 2px solid white;
box-shadow: 0 0 10px black, 
0 0 40px gray;
}
#nextsliderButton:hover{
  background-color: lightgray;
  border: 4px solid darkgray;
  transition: background-color 0.4s ease;
  cursor: pointer;
}


.topHotelsimages{
  
/* border:2px solid black; */
    background-color:rgb(139, 171, 171) ;
    display: flex;
    flex-direction: column;
    border-radius:22px;
   
  position: relative;

  
}


.hotels{
   
  width: 320px;
  height: 220px;
  border:2px solid darkslategray;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
 

}
.hotelsLinks{
 
  text-decoration: none;
  font-size: large;


 
}
.hotelname{
  padding-top: 26px ;
  padding-left: 10px;
  color:rgb(1, 60, 60);
  font-weight: bold;

}

.hotelCaption{
  color: aliceblue;
  font-size: large;
  padding-top: 28px;
  padding-left: 14px;
}

.hotelPrice{
  color:darkslategray;
  font-weight: bolder;
  margin-left:7px;
  
}

.heartIcon {
  height: 47px;
  width: 47px;
  
  position:absolute;
left:266px;
top:15px;
/* border:2px solid black; */
border-radius: 100px;
box-shadow: 0 0 20px black;
cursor: pointer;
 transition:  background-color 0.3s ease;

}

.heartIcon:hover{
  background-color: rgba(255, 0, 0, 0.679);
 
}
.popUpMessage{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 530px;
  height: 660px;
  background-color: white;
  border-radius: 30px;
box-shadow: 0 0 10px gray,
0 0 20px black;
position: fixed;
top:40px;
left: 220px;
z-index: 1000;
transform: scale(0);
z-index: 3000;
}

.logo{
  height: 100px;
  width: 130px;
  padding-left: 29px;
}
#popupParas{
  color:darkslategray;
  font-size: 30px;
  font-weight: bolder;
margin-left: 48px;
}
.continueButton{
  position:relative;
 margin-left: 33px;
 margin-top: 40px;
}
.googleButton{
  height: 45px;
  width: 430px;
margin:12px;
border-radius: 20px;

color: black;
font-size: 17px;
font-weight: bold;
cursor: pointer;
box-shadow: 0 0 10px gray,
0 0 7px black;
cursor:pointer;
}
.googleLogo{
  height: 20px;
  width:20px ;
  position: absolute;
top:24px;
left:32px;

}
.emailButton{
  height: 45px;
  width: 430px;

margin:12px;
border-radius: 20px;
color: black;
font-size: 17px;
font-weight: bold;
cursor: pointer;
box-shadow: 0 0 10px gray,
0 0 7px black;
cursor:pointer;
}

.emailLogo{
    height: 20px;
  width:20px ;
  position: absolute;
  top: 94px;
  left:32px;
}
#closeButton{
height: 20px;
width: 20px;
margin-left: 476px;
margin-top: 19px;
background-color: white;
border: 2px solid white;
cursor: pointer;

}
.popuptermsParas{
  color: rgb(107, 105, 105);
  margin-top: 87px;
  text-align: center;
  font-size: 14px;
  
}
.policiesLinks{
  color: darkslategray;
  font-weight: bold;

} 
.overlay{
  position: fixed;
  background-color:rgba(0, 0, 0, 0.5); ;
  z-index: 2000;
 width: 100vw;
  height: 100vh;
  /* border:2px solid black; */
  display: none;
}

.footer{
  display: flex;
  justify-content: center;
  background-color:rgb(139, 171, 171) ;

}